.container {
	width: 1000px;
	margin: 0 auto;
}

@media screen and ( max-width: 1024px ) {

	.container {
		width: 730px;
	}
	
}

@media screen and ( max-width: 767px ) {

.container {
		width: 90%;
	}
}

