.button {
    position: relative;
    padding: 10px 20px;
    background-color: var(--c-grey-light);
    color: var(--c-text);
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    border: none;

    cursor: pointer; 
}

.button.-success {
    background-color: var(--c-success);
    color: var(--c-white);
}

.button.-success:hover {
	background-color: var(--c-success-hover);
}